.main {
	height: 70vh;
	width: 100vw;
	/* display: grid;
	grid-template-columns: auto;
	grid-column: auto; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	row-gap: 25px;
	/*border: 2px solid red;*/
}

.sectionHero {
	width: 100vw;
	display: flex;
	justify-content: center;
	/*border: 2px solid red;*/
	margin: 40px 0;
}

.sectionHero img {
	width: 100vw;
	border: 1px solid rgb(255, 255, 255);
}

h1 {
	font-size: 34px;
	line-height: 32px;
	margin: 40px 30px;
}
