.containerPayment {
	border: 2px solid #09adb6;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 50vw;
	margin: 0 auto;
	row-gap: 10px;
}
.containerPayment > form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section {
	/*border-bottom: 2px solid #61ff1e;*/
	margin: 10px 0;
	font-weight: 400;
}

.section > span {
	/*border-bottom: 2px solid #ec6803;*/
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}

h5 {
	font-weight: 700;
}

.sectionBank {
	border-bottom: 2px solid #61ff1e;
	margin: 30px 0;
	width: 100%;
}

.buttonPayment {
	height: 35px;
	width: 320px;
	border: 1px solid #09adb6;
	border-radius: 5px;
	background-color: #09adb6;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
