.containerForm form {
	width: 100%;
}

.sectionBank .cardElement {
	padding: 15px 0;
	background-color: #09adb638;
}

.sectionBank h5 {
	padding: 15px 0;
	font-family: var(--font-familyBold);
	font-size: large;
}

.sectionBank {
	border-bottom: 2px solid #09adb6;
	margin: 15px 0;
	width: 100%;
}

.sectionButtonPayment {
	display: flex;
	justify-content: center;
}

.buttonPayment {
	height: 35px;
	width: 320px;
	border: 1px solid #09adb6;
	border-radius: 5px;
	background-color: #09adb6;
	color: white;
	font-size: 20px;
	font-weight: 500;
	font-family: var(--font-familyBold);
	cursor: pointer;
}
