

.containerFooter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.footer {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100vw;
}