header {
	/*background-color: #e61717;*/
	border-bottom: 1px solid lightgrey;
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

a > img {
	margin-left: 30px;
	/*border: 2px solid #e61717;*/
}

.containerResearch {
	/*background-color: #eaf50f;*/
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50vw;
}

.inputSearch,
.headerSelect {
	background-color: #f2f2f2;
	border: none;
	outline: none;
	width: 120px;
	height: 40px;
}

.headerSelect {
	cursor: pointer;
	width: 80px;
}

.iconSearch {
	background-color: #f2f2f2;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	border-left: #f2f2f2;
	padding: 0 15px 0 15px;
}

.inputSearch {
	width: 320px;
}

.containerButttons {
	/*background-color: #6cffc9;*/
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 10px;
}

.headerButton {
	/* width: 205px; */
	width: 120px;
	height: 35px;
	border: 1px solid #09adb6;
	background-color: #ffffff;
	color: #09adb6;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.headerButtonSell {
	width: 140px;
	height: 35px;
	border: 1px solid #09adb6;
	background-color: #09adb6;
	color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.button {
	height: 35px;
	width: 320px;
	border: 1px solid #09adb6;
	border-radius: 5px;
	background-color: #09adb6;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
