* {
	box-sizing: border-box;
}

:root {
	--font-family: "Trip Sans", sans-serif;
	--font-familyMedium: "Trip Sans Medium", sans-serif;
    
}

.container_page404 {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	margin: 100px auto;
	font-size: 30px;
}
.container_page404 > img{ 
width: 200px;

}
.link-home {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	font-weight: 700;
}